html {
  background-color: #292929;
  height: auto;
  width: auto;
  text-align: center;
  /* overflow: hidden; */
}

nav {
  width: auto;
  padding: 0px;
  height: 40px;
  width: auto;
  border: solid;
  background-color: rgba(1, 192, 1, 0.808);
  border-radius: 6px;
  color: #1d9c03;
}

/* canvas {
  height: auto;
  width: auto;
  z-index: -1;
} */

h1,
h2,
h3 {
  text-decoration: none;
  color: #1d9c03;
  font-family: "Quicksand", sans-serif;
}

p {
  text-decoration: none;
  color: #1d9c03;
  width: auto;
  word-wrap: normal;
  align-content: center;
  font-family: "Quicksand", sans-serif;
}

iframe {
  max-width: 1000px;
  max-height: 550px;
}

/* .nav {
  text-decoration: none;
  margin: 2px;
  height: 27px;
  width: auto;
  border: none;
  background-color: rgba(1, 192, 1, 0.808);
  border-radius: 6px;
  color: #1d9c03;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
} */

button {
  height: auto;
  width: auto;
  margin-bottom: 1px;
  border: none;
  background-color: #bbbbbb;
  border-radius: 6px;
  color: #3c0585;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

a:link {
  color: #1d9c03;
  text-decoration: none;
  border-bottom: 0px solid;
}
a:visited {
  color: #1d9c03;
}
a:hover {
  color: #fb0000;
  border-bottom: none;
}
a:active {
  color: #00ffff;
}

body {
  margin: 80px;
  padding: 15px;
  background-color: rgb(88, 88, 88);
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}