html {
  background-color: #292929;
  height: auto;
  text-align: center;
  /* overflow: hidden; */
}

canvas {
  height: 80vh;
  width: 80vw;
  z-index: -1;
}

h1,
h2,
h3 {
  text-decoration: none;
  width: auto;
  color: #1d9c03;
  font-family: "Quicksand", sans-serif;
}

p {
  text-decoration: none;
  width: auto;
  color: #1d9c03;
  font-family: "Quicksand", sans-serif;
}

.nav {
  text-decoration: none;
  margin: 2px;
  height: 27px;
  width: auto;
  border: none;
  background-color: rgba(1, 192, 1, 0.808);
  border-radius: 6px;
  color: #1d9c03;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

button {
  height: 24px;
  width: auto;
  margin-bottom: 1px;
  border: none;
  background-color: #bbbbbb;
  border-radius: 6px;
  color: #3c0585;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

a:link {   
  color: #1d9c03;
  text-decoration: none;
  border-bottom: 0px solid;
}
a:visited {    
  color: #1d9c03;
}
a:hover {    
  color: #fb0000;
  border-bottom: none;
}
a:active {   
  color: #00ffff;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.projects {
  /* display: flex; */
  width: auto;
  border: solid;
  border-style: solid;
  border-color: aliceblue;
}
